- page_title 'Delegation Payment'

.span10
  %br/
  %h1 Please pay your delegation fee of Tk. 6000 and that includes:

  .well.span8

    %ul
      %li Exclusive Voting rights for Popular Choice Award
      %li Delegate badge
      %li Delegate bag and T-shirt
      %li Pen and Pad
      %li AdClub History Book covering all the past Dhaka Adfest.
      %li Full programme of seminars and panel discussion during the Festival on 09 June 2012
      %li View all PR, Promo and Activation, Outdoor, Media, Design, Press, TVC, Branded Entertainment if any and the short lists in exhibitions
      %li Listen to all Radio Entries
      %li View the TVC shortlist screenings
      %li Tea, Finger foods and Lunch
      %li Award Ceremony
      %li Eligible to receive gifts from the Exhibitors (if any)
      %li May get a chance (by lottery) to have Dinner with the Speakers

    Thanks again.
