- page_title 'Entry Rules'

.span10
  %br/
  %h1 Entry Rules

  %ul
    - files_dir = Rails.root.join('public', 'downloads')
    - Dir.glob(File.join(files_dir, '*.pdf')).each do |file|
      - file = file.split('/').last
      %li
        %a{href: "/downloads/#{file}"}= file.gsub(/\.pdf$/, '')
