- page_title 'Schedule'

.span10
  %br/
  %h1 Contest Schedule

  .well.span8
    %h3 Entry Deadline: 10th May 2012

    %h3 Online Voting Opens for Delegates: 15th May 2012

    %h3 Online Voting closes for Delegates: 05th June 2012

    %h3 Adfest: 09th June 2012
