- page_title 'Schedule'


%table.table.table-bordered.span10{style: 'font-size: 140%; width: 500px'}
  %tbody
    %tr
      %th Entry Deadline:
      %td 10th May 2012

    %tr
      %th Online Voting Opens for Delegates
      %td 15th May 2012

    %tr
      %th Online Voting closes for Delegates
      %td 05th June 2012

    %tr
      %th Adfest
      %td 09th June 2012
