.span10
  %br/
  - if can? :create, Project
    .btn-group{style: 'margin-left: 20px'}
      = link_to 'Add New Entry', new_user_project_path(current_user), :class => 'btn btn-primary'
    .clearfix
  %br/

  - if @projects.present?
    - @projects.each do |project|
      = render project
  - else
    .well.span8
      %h4= "#{@page_title} Not Found"
