%footer.container.footer
  .row
    .span9
      %span.living_ideas.span4 Living Ideas
      %span.ad_club.span2 Ad Club
      %span.digital_media_marketing.span2 Digital Media marketing
    .span3
      %p.credit
        Crafted by:
        %a{:href => "http://twitter.com/evanshajed", :title => "Shajed Evan"} Shajed Evan.
        %br
          Developed by:
          %a{:href => "http://twitter.com/we4tech", :title => "NHM Tanveer"} NHM Tanveer.