#entryHelp.modal.hide.fade.in
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Entry Help
  .modal-body
    %p Write something for the help section
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Download Help File
#contestGuide.modal.hide.fade.in
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Contest guide
  .modal-body
    %p Write something for the Contest Guide section
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Download Help File